{% extends "layout.jinja2" %}
    <div class = "container">
        <div class = "jumbotron">
            <h1> My About page </h1>
            <div>Things to know about me...</div>
            <div>I live in Florida</div>
            <div> I have seasonal allergies  </div>
        </div>
    </div>
 {% endblock %}