{% extends 'layout.jinja2' %}

{% block body %}
    <div class="jumbotron">
        Hi There {{ full_name }}, You are {{ thing }} percent impressed with my site
        <img src="{{ image_path }}">
    </div>
{% endblock %}