{% extends 'layout.jinja2' %}
{% block body %}
<div class = "container">
    <h1> Hello world again</h1>
<div class = "jumbotron">
    I will add actual content at some point
    </div>
</div>

{% endblock %}