{% extends 'layout.jinja2' %}
{% block body %}
<div class = "container">
        <h1> Message Board</h1> <br>
        <p class="lead"> Heres some messages</p>
        {% for location in msg_locations %}
            <img class='state-flag' src="http://flags.ox3.in/svg/{{ location[0] }}.svg">
        {% endfor %}
        <hr/>
        {% for message in messages %}
        <blockquote class="blockquote">
            <p class="mb-0">
                {{ message[1] }} <a href="like.html?rowid={{ message[3] }}" class="btn btn-outline-primary">
                <i class="fas fa-frog"></i> + {{ message[2] }}</a>
            </p>
            <footer class="blockquote-footer">{{ message[0] }} </footer>
        </blockquote>
        {% endfor %}
        <hr/>
        <form action="/message.html" method="POST">
           <div class="form-group">
              <label> Message:</label><br>
              <input type="text" class='form-control' name="message">
           </div>
           <div class="form-group">
              <label>Author:</label>
              <input type="text" class='form-control' name="author" placeholder="anonymous">
           </div>
            <div class="form-group">
                <label for="formControlRange">How impressed are you with my Website?</label>
                <input type="range" class="form-control-range" name="formControlRange">
              </div>
           <input type="submit" value="Submit">
        </form>
    </div>
</div>

{% endblock %}

