{% extends 'layout.jinja2' %}
{% block body %}
<div class = "container">
    <h1> Hello world again</h1>
    <div class = "jumbotron">
        Fill out form to get custom page
        <form action="/custom.html" method="post">
           <div class="form-group">
              <label> First name:</label><br>
              <input type="text" class='form-control' name="fname">
           </div>
           <div class="form-group">
              <label>Last name:</label>
              <input type="text" class='form-control' name="lname">
           </div>
           <input type="submit" value="Submit">
        </form>
    </div>
</div>

{% endblock %}